@font-face {
  font-family: Manrope;
  src: url('./static/fonts/variable/Manrope[wght].woff2') format('woff2'),
       url('./static/fonts/variable/Manrope[wght].ttf') format('truetype');
}

@font-face {
  font-family: Mluvka;
  src: url('./static/fonts/variable/MluvkaVF.woff2') format('woff2'),
       url('./static/fonts/variable/MluvkaVF.woff') format('woff');
}

.font-manrope {
  font-family: Manrope;
}

.font-mluvka {
  font-family: Mluvka;
}

.hero-container {
  width: 64vw;
  font-size: 7vw;
  overflow-x: auto;
  line-height: 1.4;
  padding: 2px 0;
}

.hero-content {
  display: inline;
  padding: 0 20px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.shape-trees {
  shape-outside: url(./static/baumkataster_karte.webp);
  shape-margin: 1rem;
  margin: 1rem;
  float: right;
}

.bg-primary-200 {
  background-color: #82ded7;
}

.bg-primary-300 {
  background-color: #faa1a3;
}

.bg-primary-400 {
  background-color: #070dfa;
}

.text-primary-200 {
  color: #13aaa7;
}

.text-secondary-200 {
  color: #388b86;
}

.text-primary-300 {
  color: #faa1a3;
}

.text-primary-400 {
  color: #05b657;
}
