@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Manrope, sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: Manrope, sans-serif; font-optical-sizing: auto;
  }
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../static/fonts/variable/Manrope[wght].woff2') format('woff2');
}

@font-face {
  font-family: Mluvka;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('../static/fonts/variable/MluvkaVF.woff2') format('woff2');
}

.font-manrope {
  font-family: Manrope, sans-serif;
}

.font-mluvka {
  font-family: Mluvka, sans-serif;
}

.hero-container {
  width: 64vw;
  font-size: 7vw;
  overflow-x: auto;
  line-height: 1.4;
  padding: 2px 0;
}

.hero-content {
  display: inline;
  padding: 0 20px;
  box-decoration-break: clone;
}

.shape-trees {
  shape-outside: url('../static/baumkataster-karte.webp');
  shape-margin: 1rem;
}

.shape-monuments {
  shape-outside: url('../static/denkmalschutz-karte.webp');
  shape-margin: 1rem;
}

.shape-transport {
  shape-outside: url('../static/nahverkehr-karte.webp');
  shape-margin: 1rem;
}

.shape-recycling {
  shape-outside: url('../static/recycling-karte.webp');
  shape-margin: 1rem;
}

.shape-playgrounds {
  shape-outside: url('../static/baumkataster-karte.webp');
  shape-margin: 1rem;
}

.shape-demographics {
  shape-outside: url('../static/baumkataster-karte.webp');
  shape-margin: 1rem;
}

.shape-accidents {
  shape-outside: url('../static/nahverkehr-karte.webp');
  shape-margin: 1rem;
}

.shape-elections {
  shape-outside: url('../static/kommunalwahl-karte.webp');
  shape-margin: 1rem;
}

.shape-floorarea {
  shape-outside: url('../static/bodenflaeche-karte.webp');
  shape-margin: 1rem;
}

.shape-schools {
  shape-outside: url('../static/bildungsatlas-karte.webp');
  shape-margin: 1rem;
}
