@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Manrope, sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: Manrope, sans-serif; font-optical-sizing: auto;
  }
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../static/fonts/variable/Manrope[wght].woff2') format('woff2');
}

@font-face {
  font-family: Mluvka;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('../static/fonts/variable/MluvkaVF.woff2') format('woff2');
}

.font-manrope {
  font-family: Manrope, sans-serif;
}

.font-mluvka {
  font-family: Mluvka, sans-serif;
}

.hero-container {
  width: 64vw;
  font-size: 7vw;
  overflow-x: auto;
  line-height: 1.4;
  padding: 2px 0;
}

.hero-content {
  display: inline;
  padding: 0 20px;
  box-decoration-break: clone;
}

.shape-trees {
  shape-outside: url('../static/baumkataster_karte.webp');
  shape-margin: 1rem;
  margin: 1rem;
  float: right;
}

.shape-monuments {
  shape-outside: url('../static/denkmalschutz_karte.webp');
  shape-margin: 1rem;
  margin: 1rem;
  float: left;
}

.shape-transport {
  shape-outside: url('../static/nahverkehr_karte.webp');
  shape-margin: 1rem;
  margin: 1rem;
  float: right;
}

.shape-recycling {
  shape-outside: url('../static/recycling_karte.webp');
  shape-margin: 1rem;
  margin: 1rem;
  float: left;
}

.shape-playgrounds {
  shape-outside: url('../static/baumkataster_karte.webp');
  shape-margin: 1rem;
  margin: 1rem;
  float: right;
}

.shape-demographics {
  shape-outside: url('../static/baumkataster_karte.webp');
  shape-margin: 1rem;
  margin: 1rem;
  float: left;
}

.shape-accidents {
  shape-outside: url('../static/nahverkehr_karte.webp');
  shape-margin: 1rem;
  margin: 1rem;
  float: right;
}

.shape-elections {
  shape-outside: url('../static/kommunalwahl_karte.webp');
  shape-margin: 1rem;
  margin: 1rem;
  float: left;
}

.bg-primary-200 {
  background-color: #82ded7;
}

.bg-primary-300 {
  background-color: #faa1a3;
}

.bg-primary-400 {
  background-color: #070dfa;
}

.text-primary-200 {
  color: #13aaa7;
}

.text-secondary-200 {
  color: #388b86;
}

.text-primary-300 {
  color: #faa1a3;
}

.text-primary-400 {
  color: #05b657;
}
